<div class="container mt-5">
    <h2 class="text-center mb-4">Reportes</h2>
    <div class="row">
        <div class="col-md-4">
            <a asp-action="ReporteIngresosPorCitas" class="text-decoration-none">
                <div class="card shadow-sm text-center">
                    <div class="card-body">
                        <i class="bi bi-bar-chart" style="font-size: 3rem; color: #6c757d;"></i>
                        <h5 class="card-title mt-3">Balance de Ingresos por Fechas</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="ReporteServiciosRealizados" class="text-decoration-none">
                <div class="card shadow-sm text-center">
                    <div class="card-body">
                        <i class="bi bi-pie-chart" style="font-size: 3rem; color: #6c757d;"></i>
                        <h5 class="card-title mt-3">Balance de Servicios Realizados</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-action="ReporteInsumosUtilizados" class="text-decoration-none">
                <div class="card shadow-sm text-center">
                    <div class="card-body">
                        <i class="bi bi-pie-chart" style="font-size: 3rem; color: #6c757d;"></i>
                        <h5 class="card-title mt-3">Balance de Insumos Utilizados</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

