@*@model ServiciosXCita

<h2>Actualizar Precios</h2>

<form asp-action="ActualizarPreciosServicios">
    @foreach (var servicio in Model.Servicios)
    {
        <div class="form-group">
            <label>@servicio.Nombre</label>
            <input type="number" name="Servicios[@servicio.Id].PrecioAjustado" value="@servicio.PrecioAjustado" class="form-control" />
        </div>
    }
    <button type="submit" class="btn btn-primary">Guardar ajustes</button>
</form>*@
